<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Marks Prdeiction</title>
</head>
<body>
    <div class="container">
        <div class="alert alert-warning">
            <center><h1>Get Your Marks Prediction</h1></center>
        </div>
        <br>
            <form action="/" method="post" class="form-inline"> 
                <label>How many hours you studied? &nbsp; &nbsp;</label>
                <!-- We will here share response in the same route -->
                <input class="form-control" type="text" name="hours" placeholder="Hours">
                <button class="btn btn-primary btn-lg"> Get Score </button>
            </form>
        {% if your_marks %}
            <h1>Your Marks are: <i>{{your_marks}}</i> </h1>
            <!-- <h1>Your Marks are: <i>{{your_marks[2:-2]}}</i></h1> -->
        {% endif %}
    </div>
</body>
</html>